infra/terraform/aws/.terraform/
infra/terraform/aws/.terraform.lock.hcl
infra/terraform/aws/terraform.tfstate
infra/terraform/aws/terraform.tfstate.backup
infra/terraform/aws/.terraform.tfstate.lock.info
infra/terraform/gcp/.terraform/
infra/terraform/gcp/.terraform.lock.hcl
infra/terraform/gcp/terraform.tfstate
infra/terraform/gcp/terraform.tfstate.backup
infra/terraform/gcp/.terraform.tfstate.lock.info
infra/ansible/inventory.ini
infra/providers/aws/**
!infra/providers/aws/.env.template
infra/providers/gcp/**
!infra/providers/gcp/.keep
infra/ssh_node.sh
infra/tmp/**
logs/**
!logs/.keep
