manager ansible_host=127.0.0.1 swarm_advertise_addr=127.0.0.1 ansible_ssh_private_key_file=../tmp/key-manager.pem
node_us ansible_host=127.0.0.1 swarm_advertise_addr=127.0.0.1 ansible_ssh_private_key_file=../tmp/key-node-us.pem
node_ap ansible_host=127.0.0.1 swarm_advertise_addr=127.0.0.1 ansible_ssh_private_key_file=../tmp/key-node-ap.pem

[swarm_nodes]
manager
node_us
node_ap

[swarm_workers]
node_us
node_ap

[dsb_mediamicroservices]
node_us
node_ap

[all:vars]
ansible_user=ubuntu
